/*body {
    background-color: black;
    color: white;
}*/

nav {
    height: 50px;
    background-color: grey;
}

nav a {
    display: inline-block;
    width: 200px;
    height: 50px;
    background-color: green;
    text-align: center;
}

a:hover {
    background-color: greenyellow;
}

video {
    border: 1px solid black;
}

div[role=main] {
    background-color: lightgrey;
}

canvas {
    border: 1px solid black;
}

#fry {
    transition: all 2s;
}

#fry:hover{
    transform: rotate(45deg);
}

img:nth-child(2n+1) { float: right; }